@{ 
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body class="container">
   <h1 class="h1">This is RizTech Technologies Idex page</h1>
    <hr />
    <img src="~/images/logo.png" class="logo" alt="logo"/>
    <br />
    <input type="button" value="Click me" class="btn btn-danger"/>
</body>
<script src="~/lib/jquery/jquery.js"></script>
</html>

<script>
    $(document).ready(function () {
        alert("Page Loaded");
    });
</script>
